<section class="row">
  <div *ngFor="let film of films" class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="catd-title">{{ film.title }}</h4>
        <p class="card-text">{{ film.description }}</p>
      </div>
    </div>
  </div>
</section>
