<section class="row">
  <div *ngFor="let person of people" class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ person.name }}</h4>
      </div>
    </div>
  </div>
</section>
