<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/films" class="nav-link">Films</a>
      </li>

      <li class="nav-item">
        <a routerLink="/people" class="nav-link">People</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
