<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name" placeholder="Name">
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>
